extends ../layout_map

block content  

  .top-container.col-md-3.col-sm-6.col-xs-12.mx-auto

    h4 Profilinformationen Bearbeiten
    hr
    form(method='POST' action="/account/profile" role="form")
        input(type='hidden', name='_csrf', value=_csrf)
        .form-group
          label.col-md-12.control-label(for='email') E-Mailadresse
          .col-md-12
            input.form-control(type='email', name='email', id='email', value=user.email, autocomplete='email')
        .form-group
          label.col-md-12.control-label(for='name') Name
          .col-md-12
            input.form-control(type='text', name='name', id='name', value=user.profile.name, autocomplete='name')
        .form-group
          label.col-md-12.control-label(for='location') Ort
          .col-md-12
            input.form-control(type='text', name='location', id='location', value=user.profile.location, autocomplete)
        .form-group
          label.col-md-12.control-label(for='website') Webseite
          .col-md-12
            input.form-control(type='text', name='website', id='website', value=user.profile.website, autocomplete='url')
        .form-group
          label.col-md-12.control-label Gravatar
          .col-sm-4
            img(src=user.gravatar(), class='profile', width='100', height='100')
        .form-group
          .col-md-12
            button.btn.btn.btn-success.btn-sm(type='submit')
              i.fas.fa-pencil-alt.fa-sm
              | &nbsp;
              | Profil Speichern

    .col-md-12
      h4 Passwort Ändern
      hr
    form(action='/account/password' role="form" method='POST')
      input(type='hidden', name='_csrf', value=_csrf)
      .form-group
        label.col-md-12.control-label(for='password') New Password
        .col-md-12
          input.form-control(type='password', name='password', id='password', autocomplete='new-password')
      .form-group
        label.col-md-12.control-label(for='confirmPassword') Confirm Password
        .col-md-12
          input.form-control(type='password', name='confirmPassword', id='confirmPassword', autocomplete='new-password')
      .form-group
        .col-md-12
          button.btn.btn-success.btn-sm(type='submit')
            i.fas.fa-lock.fa-sm
            | &nbsp;
            | Passwort Ändern

      .col-md-12
        h3 Account Löschen
        hr
      form(action='/account/delete', method='POST', onsubmit="return confirm('Are you sure you want to delete your account?');")
        .form-group
          .col-md-12 
            p Bitte beachte dass das Löschen des Accounts nicht rückgängig gemacht werden kann.
          input(type='hidden', name='_csrf', value=_csrf)
          .col-md-12
            button.btn.btn-danger.btn-sm(type='submit')
              i.fas.fa-trash-alt.fa-sm
              | &nbsp;            
              | Account Löschen
      if false
        .col-md-12
          h3 Verbundene Accounts
          hr
        .form-group
          .col-md-12
            if user.instagram
              p.mb-1: a.text-danger(href='/account/unlink/instagram') Unlink Instagram Account
            else
              p.mb-1: a(href='/auth/instagram') Link Instagram Account
          .col-md-12
            if user.google
              p.mb-1: a.text-danger(href='/account/unlink/google') Unlink Google Account
            else
              p.mb-1: a(href='/auth/google') Link Google Account
          .col-md-12
            if user.facebook
              p.mb-1: a.text-danger(href='/account/unlink/facebook') Unlink Facebook Account
            else
              p.mb-1: a(href='/auth/facebook') Link Facebook Account
            if user.snapchat
              p.mb-1: a.text-danger(href='/account/unlink/snapchat') Unlink Snapchat Account
            else
              p.mb-1: a(href='/auth/snapchat') Link Snapchat Account
          .col-md-12
            if user.twitter
              p.mb-1: a.text-danger(href='/account/unlink/twitter') Unlink Twitter Account
            else
              p.mb-1: a(href='/auth/twitter') Link Twitter Account
          .col-md-12
            if user.github
              p.mb-1: a.text-danger(href='/account/unlink/github') Unlink GitHub Account
            else
              p.mb-1: a(href='/auth/github') Link GitHub Account
          .col-md-12
            if user.linkedin
              p.mb-1: a.text-danger(href='/account/unlink/linkedin') Unlink LinkedIn Account
            else
              p.mb-1: a(href='/auth/linkedin') Link LinkedIn Account
          .col-md-12
            if user.steam
              p.mb-1: a.text-danger(href='/account/unlink/steam') Unlink Steam Account
            else
              p.mb-1: a(href='/auth/steam') Link Steam Account
