mixin rating(ratingValue, addClass, showNumber)
    input.rating-value(type="hidden" data-rating-value=ratingValue)
    each val in [1, 2, 3, 4, 5]
      span.fa.fa-table-tennis(data-rating=val class=addClass + " " + (ratingValue>=val?"star-rating-on":"star-rating-off"))
    if (showNumber)
      raw &nbsp;
      span.small (#{ratingValue})


mixin rating_criteria_input(item, criteria)
  - var criteriaRating = helper.getRatingCriteria(user, item, criteria) || 0;
  .col-3.text-right
    span=criteria.label
      | :&nbsp;
  .col-3(id="rating_criteria_" + criteria.name + "_" + item._id data-criteria-rating=criteriaRating data-criteria-name=criteria.name data-item-id=item._id)
    .rating-criteria-container
      each val in [1, 2, 3, 4, 5]
        span.fa.fa-table-tennis.rating-criteria-input(data-rating=val ref-id="rating_criteria_" + criteria.name + "_" + item._id class=(criteriaRating>=val?"star-rating-on":"star-rating-off"))


mixin rating_form(item)
  each criteria in config.rating_criteria[item.type]  
    +rating_criteria_input(item, criteria)

mixin rating_total(avgRating)
  .rating-total
    .row
      .col-sm-12(style="margin-bottom: 6px;") 
        b Gesamtbewertung:
    .rating-container.row
      each criteria in avgRating.criteria
        .text-right.col-3.rating-label
          span= helper.getCriteriaLabel(criteria.name)
          | :
        .col-3.rating
          +rating(criteria.value)
          | &nbsp
          span.small (#{criteria.value})

mixin item_rating(item, rating)          
  h5.item-title
    span=item.title
    button.btn.btn-success.btn-sm.float-right(id="close-item" ref-id=item._id)
      i.fa.fa-times        
    if user
      if user.is_admin    
        button.btn.btn-success.btn-sm.float-right(id="remove-item" ref-id=item._id)
          i.fa.fa-trash    
      button.btn.btn-success.btn-sm.float-right(id="edit-item" ref-id=item._id)
        i.fa.fa-edit      
    button.btn.btn-success.btn-sm.float-right(id="link-item" data-id=item._id data-title=item.title)
      i.fa.fa-link        
  div.h5
    span  
    span.rating
      +rating(rating, "small", true)
